html {
    height: 100%;
    width: 100%;
    background-color: #202124;
  }
  
  /* Style for mainbody (header, buttons, logo) */
  .mainbody {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 215px;
    align-items: center;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    padding-right: 19px;
  }
  
  .float-right {
    margin-left: auto;
    margin-top: 9px;
    margin-right: 10px;
  }
  
  .navlink {
    margin: 9px 19px;
  }
  
  .navbar a {
    color: #bdc1c5;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration:none
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Style for footer */
  
  .footbar {
    width: 100%;
    background-color: #171717;
    position:absolute;
    bottom:0;
    display: flex;
  }
  
  .footbar a {
    color: #94989c;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration:none;
    
  }
  
  .footbar a:hover {
    text-decoration: underline;
  }
  
  .footlink {
    margin: 9px 19px;
    padding: 8px;
  }
  
  .float-foot {
    margin-left: auto;
    margin-top: 9px;
    margin-right: 10px;
    padding: 8px;
  }
  
  /* Style specifically for search bar */
  
  #searchbar {
    margin-top: 28px;
    min-width: 550px;
    border-radius: 25px;
    border: 1px #5f6367 solid;
    padding: 15px 15px 12px 50px;
    color: white;
    font-size: 16px;
    background-image: url(images/searchbar.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: left 2% center;
    background-color: #202124;
    
  }
  
  #searchbar:hover{
    background-color: #5f6367;
  }
  
  /* Buttons' style */
  
  .buttons {
    padding-top: 30px;
    margin-left: 165px;
    
  }
  
  .trndbtn {
    background-color: #303134;
    color: white;
    border-radius: 5px;
    border: 1px #303134 solid;
    padding: 10px 18px 10px 18px;
    margin-left: 10px;
  }
  
  .searchbtn {
    background-color: #303134;
    color: white;
    border-radius: 5px;
    border: 1px #303134 solid;
    padding: 10px 18px 10px 18px;
  }
  
  .searchbtn:hover {
    border-color: #858585;
  }
  
  .trndbtn:hover {
    border-color: #858585;
  }